---
import { AppLayout } from "@/components/layouts";
import { Form } from "@/components/pages";

const meta = {
  title: "Contact",
};
---

<AppLayout {meta}>
  <div class="l-contents">
    <div class="l-contents__section">
      <section class="l-section">
        <div class="l-section__wide">
          <Form />
        </div>
      </section>
    </div>
  </div>
</AppLayout>
