@charset "utf-8";
@use "../global" as *;

.l-columns {
  padding-top: 40px;
  padding-bottom: 40px;

  @include content_width(wide);

  @include mq(md) {
    display: grid;
    grid-template-areas: "main sub";
    grid-template-columns: 60% auto;
    column-gap: 5%;
    align-items: flex-start;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.l-columns__main,
.l-columns__sub {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $color_lightgray;
}

.l-columns__main {
  @include mq(md) {
    grid-area: main;
  }
}

.l-columns__sub {
  @include mq(md) {
    position: sticky;
    top: 150px;
    right: 0;
    grid-area: sub;
  }
}

.l-columns__section {
  & + .l-columns__section {
    margin-top: 40px;
  }
}
