@charset "utf-8";
@use "../global" as *;

.l-pagetop {
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
  height: 46px;

  @include mq(lg, max) {
    display: none;
  }
}

.l-pagetop__link {
  display: block;
  width: 100%;
  height: 100%;
  background: $color_black;
}
